<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <?if $(var.MsiType) = "A" ?>
  <?define ProductId      = "11111111-1111-1111-1111-111111111111" ?>
  <?define LevelFolderA   = "1" ?>
  <?define LevelFolderB   = "1000" ?>
  <?else?>
  <?define ProductId      = "22222222-2222-2222-2222-222222222222" ?>
  <?define LevelFolderA   = "1000" ?>
  <?define LevelFolderB   = "1" ?>
  <?endif?>
  <?define   ProductName    = "AppMsiTest" ?>

  <Package Name="$(var.ProductName)" Manufacturer="YourCompany" Version="1.0.0" UpgradeCode="12345678-1234-1234-1234-1234567890AB" Scope="perUser">

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="You are not allowed to downgrade this software." />
    <MediaTemplate EmbedCab="yes" />

    <ui:WixUI Id="WixUI_Minimal" />

    <StandardDirectory Id="PerUserProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="AppMsiTest">
        <Directory Id="DataDir" Name="Data">
          <Directory Id="FolderADir" Name="FolderA" />
          <Directory Id="FolderBDir" Name="FolderB" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <Feature Id="Feat_RootFeature" AllowAbsent="no" Title="AppMsiTest" ConfigurableDirectory="INSTALLFOLDER">

      <Feature Id="App" Title="Core App" AllowAbsent="no">
        <Component>
          <File Id="MainExeFile" Source="bin/AppMsiTest.exe" />
        </Component>
      </Feature>

      <?if $(var.MsiType) = "A" ?>

      <Feature Id="Feat_FolderA" Title="Folder A" AllowAbsent="no">
        <ComponentGroupRef Id="Grp_FolderA" />
      </Feature>
      <Feature Id="Feat_FolderB" Title="Folder B" Level="2">
        <ComponentGroupRef Id="Grp_FolderB" />
      </Feature>

      <?else?>

      <Feature Id="Feat_FolderB" Title="Folder B" AllowAbsent="no">
        <ComponentGroupRef Id="Grp_FolderB" />
      </Feature>
      <Feature Id="Feat_FolderA" Title="Folder A" Level="2">
        <ComponentGroupRef Id="Grp_FolderA" />
      </Feature>

      <?endif?>

    </Feature>

  </Package>

  <Fragment>
    <ComponentGroup Id="Grp_FolderA" Directory="FolderADir">
      <Files Include="Data/FolderA/**" /> 
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Grp_FolderB" Directory="FolderBDir">
      <Files Include="Data/FolderB/**" />
    </ComponentGroup>
  </Fragment>

</Wix>